/* For articles */
.cont {
    width: 100%;
}

.cleft {
    text-align: left;
    width: 50%;
}

.cright {
    text-align: right;
    width: 50%;
}

tr {
    margin-bottom: 55px;
}

td {
    padding: 20px;
}

#info {
    color: lime;
}

.cimg-small {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cimg-med {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.cimg-big {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 625px){
    .cimg-small {
        display: none;
    }
    
    .cimg-med {
        display: none;
    }
    
    .cimg-big {
        display: none;
    }

    .cleft {
        width: 100%;
    }

    .cright {
        display: none;
    }
}